<div class="text-xl text-center font-semibold">Search to find books</div>
<div class="flex flex-col sm:flex-row gap-2 sm:gap-4 mb-4">
  <input
    type="text"
    id="searchTerm"
    [(ngModel)]="searchTerm"
    placeholder="Search..."
    class="flex-1 bg-gray-100 text-gray-700 border rounded py-2 px-3"
  />
  <button type="button" (click)="search()" class="btn-info">
    Search
    <app-icons name="magnifier" class="fill-current w-4"></app-icons>
  </button>
  <button type="button" (click)="clearSearch()" class="btn-outline">
    Clear
  </button>
</div>
<button class="btn-outline w-48" (click)="toggleFilters()">
  {{ showFilters ? 'Hide Filters' : 'Show Filters' }}
  <app-icons name="filter" class="fill-current w-4"></app-icons>
</button>

<div class="mt-4" *ngIf="showFilters">
  <form
    class="bg-gray-100"
    [formGroup]="$any(filterForm)"
    (ngSubmit)="applyFilters()"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4"
    >
      <ng-container *ngFor="let field of formFields">
        <app-input-field
          [formControlName]="field.name"
          [formControl]="$any(filterForm?.get(field.name))"
          [label]="field.label"
          [type]="field.type"
          [placeholder]="'filter by ' + field.label"
        ></app-input-field>
      </ng-container>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 mb-4">
      <button [disabled]="isFormUnchanged()" type="submit" class="btn-success">
        Apply Filters
      </button>
      <button
        (click)="resetFilters()"
        [disabled]="isFormUnchanged()"
        class="btn-outline"
      >
        Clear Filters
      </button>
    </div>
  </form>
</div>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-4 justify-items-center"
>
  <div
    *ngFor="let book of combinedFilteredBooks$ | async"
    class="block text-decoration-none"
  >
    <app-book-item [bookItem]="book"></app-book-item>
  </div>
</div>
