<div class="text-xl text-center font-semibold">Search to find books</div>
<div class="flex flex-col sm:flex-row gap-2 sm:gap-4 mb-4">
  <input
    type="text"
    id="searchTerm"
    [(ngModel)]="searchTerm"
    placeholder="Search..."
    class="flex-1 bg-gray-100 text-gray-700 border rounded py-2 px-3"
  />
  <button
    (click)="search()"
    class="bg-info hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md"
  >
    Search
  </button>
  <button
    (click)="clearSearch()"
    class="bg-gray-500 text-white font-bold py-2 px-4 rounded shadow-md"
  >
    Clear Search
  </button>
</div>
<button
  class="bg-gray-600 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded w-32"
  (click)="toggleFilters()"
>
  {{ showFilters ? 'Hide Filters' : 'Show Filters' }}
</button>

<div class="mt-4" *ngIf="showFilters">
  <form
    class="bg-gray-100"
    [formGroup]="$any(filterForm)"
    (ngSubmit)="applyFilters()"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4"
    >
      <ng-container *ngFor="let field of formFields">
        <app-input-field
          [fieldName]="field.name"
          [formControlName]="field.name"
          [formControl]="$any(filterForm?.get(field.name))"
          [label]="field.label"
          [type]="field.type"
          [placeholder]="'filter by ' + field.label"
        ></app-input-field>
      </ng-container>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 mb-4">
      <button
        [disabled]="isFormUnchanged()"
        type="submit"
        class="bg-success text-white font-bold py-2 px-4 rounded shadow-md"
      >
        Apply Filters
      </button>
      <button
        (click)="resetFilters()"
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded shadow-md"
      >
        Clear Filters
      </button>
    </div>
  </form>
</div>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-4"
>
  <div
    *ngFor="let book of combinedFilteredBooks$ | async"
    class="block text-decoration-none"
  >
    <div class="border rounded-lg p-2 w-64 text-center shadow-md bg-gray-50">
      <img [src]="''" alt="No Image" class="border h-32 w-24 mx-auto" />
      <div class="font-semibold mt-2">{{ book.title }}</div>
      <div class="flex flex-col items-center mt-4">
        <button
          type="button"
          class="bg-primary-100 px-4 py-2 rounded-md shadow-md"
          (click)="goToBookDetails(book.isbn)"
        >
          Learn more
        </button>
      </div>
    </div>
  </div>
</div>
