<div class="mx-auto bg-gray-100 flex first-letter:shadow-md items-center">
  <form [formGroup]="bookForm" class="md:flex md:space-x-10">
    <div class="w-full md:w-2/3 space-y-4">
      <ng-container *ngFor="let field of formFields.slice(0, 7)">
        <app-input-field
          [formControlName]="field.name"
          [formControl]="$any(bookForm.get(field.name))"
          [label]="field.label"
          [placeholder]="field.label"
          [validationMessage]="field.validationMessage"
          [type]="field.type"
        ></app-input-field>
      </ng-container>
    </div>

    <div class="w-full md:w-2/3 space-y-4 md:space-y-4">
      <ng-container *ngFor="let field of formFields.slice(7, 11)">
        <app-input-field
          [formControlName]="field.name"
          [formControl]="$any(bookForm.get(field.name))"
          [label]="field.label"
          [placeholder]="field.label"
          [validationMessage]="field.validationMessage"
          [type]="field.type"
        ></app-input-field>
      </ng-container>
    </div>
  </form>
</div>
