<div class="pb-6">
  <label for="{{ label }}" class="text-gray-700 text-sm font-bold md:w-1/3"
    >{{ label }}:</label
  >
  <div class="relative" *ngIf="!(type === 'textarea'); else textAreaInput">
    <input
      [name]="formControlName"
      [placeholder]="placeholder"
      [value]="value"
      [type]="type"
      (input)="onInputChange($event)"
      (focus)="onFieldFocus()"
      class="w-full flex-grow"
    />
  </div>
  <ng-template #textAreaInput>
    <textarea
      [name]=""
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInputChange($event)"
      (focus)="onFieldFocus()"
      class="flex-grow w-full"
    ></textarea>
  </ng-template>
  <div
    class="error-message-container"
    [style.visibility]="
      formControl?.invalid && isFieldFocused ? 'visible' : 'hidden'
    "
  >
    <p class="text-red-500 text-xs">
      {{ validationMessage }}
    </p>
  </div>
</div>
