<div class="flex flex-col gap-y-10">
  <app-book-form [bookForm]="$any(bookFormArray.controls[0])"></app-book-form>
  <div
    *ngFor="let bookFormGroup of bookFormArray.controls; let i = index"
    [hidden]="i === 0"
  >
    <div class="flex flex-col gap-y-1">
      <button
        (click)="removeBook(i)"
        class="self-center bg-red-500 px-4 py-2 rounded-md shadow-md"
      >
        Remove Book
      </button>
      <app-book-form [bookForm]="$any(bookFormGroup)"></app-book-form>
    </div>
  </div>
  <button
    type="button"
    class="mt-8 self-center bg-orange-400 w-48 px-4 py-2 rounded-md shadow-md"
    (click)="addNewBook()"
  >
    Add Another Book
  </button>

  <button
    type="button"
    [ngClass]="booksSaved ? 'bg-green-700' : 'bg-blue-400'"
    class="mt-8 self-start w-48 px-4 py-2 rounded-md shadow-md"
    [disabled]="isAnyFormGroupInvalid()"
    (click)="save()"
  >
    {{ booksSaved ? 'Books saved' : 'Save' }}
  </button>
</div>
