<div class="flex flex-col gap-y-10">
  <div class="text-2xl text-yellow-400 self-center">Create your book</div>

  <app-book-form
    [bookForm]="$any(bookFormArray.controls[0])"
    [formFields]="formFields"
  ></app-book-form>
  <div
    *ngFor="let bookFormGroup of bookFormArray.controls; let i = index"
    [hidden]="i === 0"
  >
    <div class="flex flex-col gap-y-1">
      <button
        id="removeBook"
        type="button"
        (click)="removeBook(i)"
        class="self-center w-32 btn-warning"
      >
        Remove Book
      </button>
      <app-book-form
        [bookForm]="$any(bookFormGroup)"
        [formFields]="formFields"
      ></app-book-form>
    </div>
  </div>
  <button
    id="addBook"
    type="button"
    class="mt-8 self-center btn-primary"
    (click)="addNewBook()"
  >
    Add Another Book
    <app-icons name="plus" class="w-4 stroke-current"></app-icons>
  </button>

  <button
    id="saveBooks"
    type="button"
    [ngClass]="booksSaved ? 'btn-success' : 'btn-primary-secondary'"
    class="mt-8 self-start w-64"
    [disabled]="isAnyFormGroupInvalid()"
    (click)="save()"
  >
    {{ booksSaved ? bookFormArray.controls.length + ' Book(s) saved' : 'Save' }}
  </button>
</div>
