<div class="flex flex-col gap-y-10">
  <div class="text-2xl text-yellow-400 self-center">Create your book</div>

  <app-book-form
    [bookForm]="$any(bookFormArray.controls[0])"
    [formFields]="formFields"
  ></app-book-form>
  <div
    *ngFor="let bookFormGroup of bookFormArray.controls; let i = index"
    [hidden]="i === 0"
  >
    <div class="flex flex-col gap-y-1">
      <button
        type="button"
        (click)="removeBook(i)"
        class="self-center bg-warning w-32 rounded-md py-2 shadow-md"
      >
        Remove Book
      </button>
      <app-book-form
        [bookForm]="$any(bookFormGroup)"
        [formFields]="formFields"
      ></app-book-form>
    </div>
  </div>
  <button
    type="button"
    class="mt-8 self-center bg-primary w-48 rounded-md py-2 shadow-md"
    (click)="addNewBook()"
  >
    Add Another Book
    <app-icons name="plus" class="w-4 stroke-current"></app-icons>
  </button>

  <button
    type="button"
    [ngClass]="booksSaved ? 'bg-success' : 'bg-primary-200'"
    class="mt-8 self-start w-64 px-4 py-2 bg-info rounded-md shadow-md"
    [disabled]="isAnyFormGroupInvalid()"
    (click)="save()"
  >
    {{ booksSaved ? 'Books saved' : 'Save' }}
  </button>
</div>
